
#currency_widget_table_header {
	background-color:##FFFFFF;
	color: #faff4e;
	font: bold 24px Arial;
}

tr.row_even {
	background-color: #ff0000;
	font-family:DS-Digital,Arial;
    font-size: 24pt;
	color:#ffffff;
	
}

tr.row_odd {
	background-color: #ff0000;
	font-family:DS-Digital,Arial;
	font-size: 24pt;
	color:#ffffff;
	
}

body {
	background-color: #ff0000;
	font-family: DS-Digital,Arial;	
}

.country
{
text-align: left;
}

#currency_table td{
	font-size:30pt;
	padding-top:4px;
	padding-left:4px;
	padding-right:4px;
	padding-bottom:4px;
	font-family:DS-Digital, Arial;
	vertical-align:middle;
}

.inversebuy
{
	color:#DEEBEB;
	text-align:center;
}

.buy
{
	color:#DEEBEB;
	text-align:center;

}
.sell
{
	text-align:center;
}

.headerbuy
{
	background-color:#ff0000;
	color:#DEEBEB;
	text-align:center;
}

.headersell
{
background-color:#ff0000;
color:#DEEBEB;
text-align:center;
}
.header
{
color:#ffffff;
text-align:center;
}

.currency
{
	color:#66FF33;
	text-align:left;
}

.time
{
	text-align:left;
	color:#000000;

}
.country
{
color:#DEEBEB;
}


