
#currency_widget_table_header {
	background-color:#4D72FA;
	color: #faff4e;
	font: bold 14px Arial;
}

tr.row_even {
	background-color: #ff0000;
	font-family:DS-Digital,Arial;
    font-size: 14pt;
	color:#FFFFFF;
	
}

tr.row_odd {
	background-color: #ff0000;
	font-family:DS-Digital,Arial;
	font-size: 14pt;
	color:#FFFFFF;
	
}

body {
	
	background-color: #000000;
	font-family: DS-Digital,Arial;	
}
.country
{
text-align: left;
}

#currency_table td{
	font-size:36pt;
	padding-top:2px;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:2px;
	font-family:DS-Digital, Arial;
	vertical-align:middle;
	horizontal-align:middle;
	}

.inversebuy
{
	color:#DEEBEB;
	text-align:center;
}
.buy
{
	color:#DEEBEB;
	text-align:center;

}
.sell
{
	text-align:center;
}

.headerbuy
{
	/*background-color:#4D72FA;*/
	color:#DEEBEB;
	text-align:center;
}

.headersell
{
/*background-color:#4D72FA;*/
color:#DEEBEB;
text-align:center;
}
.header
{ 
/*background-color:#4D72FA;*/
color:#DEEBEB;
text-align:center;
}

.currency
{
	color:#66FF33;
	text-align:left;
}

.time
{
	text-align:left;
}
.country
{
color:#DEEBEB;
}


