
#currency_widget_table_header {
	background-color:#888866;
	color: #faff4e;
	font: bold 18px Arial;
}

tr.row_even {
	background-color: #000000;
	font-family:DS-Digital,Arial;
    font-size: 18pt;
	color:#FFCC00;
	
}

tr.row_odd {
	background-color: #101010;
	font-family:DS-Digital,Arial;
	font-size: 18pt;
	color:#FFCC00;
	
}

body {
	background-color: #000000;
	font-family: DS-Digital,Arial;	
}
.country
{
text-align: left;
}

#currency_table td{
	font-size:30pt;
	padding-top:4px;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:4px;
	font-family:DS-Digital, Arial;
	vertical-align:middle;
}

.inversebuy
{
	color:#DEEBEB;
	text-align:center;
}
.buy
{
	color:#DEEBEB;
	text-align:center;

}
.sell
{
	text-align:center;
}

.headerbuy
{
	background-color:#4D72FA;
	color:#DEEBEB;
	text-align:center;
}

.headersell
{
background-color:#EA531C;
color:#DEEBEB;
text-align:center;
}
.header
{
color:#DEEBEB;
text-align:center;
}

.currency
{
	color:#66FF33;
	text-align:left;
}

.time
{
text-align:left;
}
.country
{
color:#FFFFFF;
}


