html, body {
	height: 100%;	
}


#responsive-slider {
	font-family: 'Open Sans', sans-serif;
	min-height: 150px;
	min-width:1000px;
}


#responsive-slider .layer a {
	color: #00F;
}


#responsive-slider .layer.black a {
	color: #FFF;
}


@media (max-height:500px), (max-width:1000px) {
	#responsive-slider .slide-arrows {
		visibility: hidden;
	}
}